.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.nav-item{
    text-align: center;
}
.nav-button {
    padding: 5px;
    cursor: pointer;
}
.nav-button:hover {
    background-color: #CED4DA;
    transform: translateY(-3px); /* Slight lift effect */
}
.nav-button:active {
    background-color: #ADB5BD;
    transform: translateY(1px); /* Slight press effect */
}
.nav-button:focus {
    outline: none;
    box-shadow: 2px 2px 5px #6C757D; /* focus outline */
}
footer{
    background-color: #4e4e4e;
    position: fixed;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 1vw, 3rem);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
footer p{ 
    display: inline;
    font-size: 14px;
}
.container{
    padding-bottom: 5rem; /* Space available between last element and footer */
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit;
}
/* Overlapping about us and how it worksbox style */
.overlay-message {
    position: fixed; /* Sticks to a specific position relative to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the message box */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensures the message overlaps other content */
    width: 300px;
    max-height: 70vh;
    overflow-y: auto;
}
#overlay-background {
    position: fixed; /* Sticks to a specific position relative to the viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
/* Center only the button */
.center-button {
    display: block;
    margin: 20px auto; /* Center horizontally */
}
/* Tablet */
@media (min-width: 600px) {
    /* Overlapping about us and how it worksbox style */
    .overlay-message {
        position: fixed; /* Sticks to a specific position relative to the viewport */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the message box */
        background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
        color: white;
        padding: 20px;
        border-radius: 10px;
        display: none; /* Hidden by default */
        z-index: 1000; /* Ensures the message overlaps other content */
        width: 40vh;
        max-height: 70vh;
        overflow-y: auto;
    }
    #overlay-background {
        position: fixed; /* Sticks to a specific position relative to the viewport */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
}
/* Desktop and laptop */
@media (min-width: 992px) {
    /* Overlapping about us and how it worksbox style */
    .overlay-message {
        position: fixed; /* Sticks to a specific position relative to the viewport */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the message box */
        background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
        color: white;
        padding: 20px;
        border-radius: 10px;
        display: none; /* Hidden by default */
        z-index: 1000; /* Ensures the message overlaps other content */
        width: 70vh;
        max-height: 70vh;
        overflow-y: auto;
    }
    #overlay-background {
        position: fixed; /* Sticks to a specific position relative to the viewport */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
}