.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Ensure the brand is fully aligned to the left */
.navbar-brand {
    margin-left: 0;
    padding-left: 0.5rem; /* Optional: Add slight padding to avoid touching the screen edge */
}

/* Ensure the toggler is fully aligned to the left */
.navbar-toggler {
    margin-left: 0;
    padding-left: 0.5rem; /* Optional: Add slight padding for spacing */
}
#nav-button {
    padding: 5px;
    cursor: pointer;
}
#nav-button:hover {
    background-color: #CED4DA;
    transform: translateY(-3px); /* Slight lift effect */
}
#nav-button:active {
    background-color: #ADB5BD;
    transform: translateY(1px); /* Slight press effect */
}
#nav-button:focus {
    outline: none;
    box-shadow: 2px 2px 5px #6C757D; /* focus outline */
}
footer{
    background-color: #4e4e4e;
    position: fixed;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 1vw, 3rem);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  footer p{ 
    display: inline;
    font-size: 10px;
  }
  .container{
    padding-bottom: 5rem; /* Space available between last element and footer */
  }
  a {
    text-decoration: none; /* Remove underline */
    color: inherit;
  }