<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Analyse Survey Data website developed as Project 3 for Code Instute">
        <meta name="keywords" content="survey, insight, data, python, analysis">
        <meta name="author" content="Luis Pierro">
        <title>Survey Data analysis Today!</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/pie-chart/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/pie-chart/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/pie-chart/favicon-16x16.png">
        <link rel="stylesheet" href="/static/style/style.css">
    </head>
    <body>
        <header class="container-fluid">
            <div class="row pt-3">
                <div class="col-12 text-center">
                    <h1>Survey Insights Today!</h1>
                </div>
            </div>
            <!-- Overlay background -->
            <div id="overlay-background" style="display: none;"></div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <hr>
                <a class="navbar-brand" href="/">
                    <img src="static/assets/pie-chart/favicon-32x32.png" alt="Logo" class="d-inline-block align-text-top">
                </a>
                <!-- Hamburger button for collapsing navbar -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <li class="nav-item nav-button" id="how-button">
                                How it Works
                            </li>
                            <li class="nav-item nav-button" id="about-button">
                                About Us
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            <!-- Overlapping how it works nav item box -->
            <section class="overlay-message" id="howworks-message">
                <h4>How to Use Survey Insights Today</h4>
                <ol>
                    <li>Upload Your Data:
                        <ul>
                            <li>Navigate to our homepage.</li>
                            <li>Click the "Upload & Analyze" button.</li>
                            <li>Select your survey data file in CSV format.</li>
                        </ul>
                    </li>
                    <li>AI Analysis:
                        <ul>
                            <li>Our AI engine will automatically process your data.</li>
                            <li>This may take a few moments, depending on the size of your dataset.</li>
                        </ul>
                    </li>
                    <li>View Insights:
                        <ul>
                            <li>Once the analysis is complete, you'll see a detailed report, including: Key findings; Visualizations (charts, graphs); and Statistical analysis</li>
                        </ul>
                    </li>
                    <li>Download Your Report:
                        <ul>
                            <li>Click the "Download Insights" button to save a comprehensive PDF report of your insights.</li>
                            <li>This report can be shared with your team or clients.</li>
                        </ul>
                    </li>
                </ol>
                <button class="btn btn-danger center-button" id="close-how">Close</button>
            </section>
            <!-- Overlapping about us nav item box -->
            <section class="overlay-message" id="aboutus-message">
                <h5>About Us</h5>
                <p>Survey Insights Today is a dynamic startup revolutionizing the way businesses leverage survey data. Our innovative website empowers users to extract actionable insights from their surveys with unparalleled ease and efficiency. Powered by advanced AI algorithms, Survey Insights Today automates data analysis, generates insightful reports, and visualizes trends in a user-friendly dashboard. Whether you're a market researcher, academician, or business owner, our platform transforms complex survey data into valuable knowledge, enabling you to make data-driven decisions with confidence.</p>
                <button class="btn btn-danger center-button" id="close-about">Close</button>
            </section>
            <div class="row pt-3">
                <form id="upload-form" enctype="multipart/form-data">
                        <label for="file-input">Upload your survey data (CSV):</label><br>
                        <div class="input-group">
                            <input type="file" id="file-input" class="form-control" name="file" accept=".csv" aria-label="Upload File" required>
                            <button class="btn btn-outline-success" type="submit">Upload & Analyze</button>
                        </div>
                </form>
            </div>
            <section class="row insights">
                <div class="col-auto pt-3">
                    <br><h6>No insights available. Please upload a dataset.</h6>
                </div>
            </section>
            <section class="col-auto pt-3" id="spinner" style="display: none;">
                <h6>Processing your data... Please wait.</h6>
                <div class="spinner-border" style="width: 3rem; height: 3rem;"></div>
            </section>
        </main>
        <footer>
            <p>Copyright © Luis Pierro 2024</p>
            <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Find us on Facebook (link opens in a new tab)"><img src="static/assets/youtube.png" width="30" alt="icon of youtube"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Find us on Instagram (link opens in a new tab)"><img src="static/assets/instagram.png" width="30" alt="icon of instagram"></a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Find us on Twitter (link opens in a new tab)"><img src="static/assets/twitter.png" width="30" alt="icon of twitter"></a>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="/static/script/script.js"></script>
    </body>
</html>