<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Analyse Survey Data website developed as Project 3 for Code Instute">
        <meta name="keywords" content="survey, insight, data, python, analysis">
        <meta name="author" content="Luis Pierro">
        <title>Survey Data analysis Today!</title>
    </head>
    <body>
        <h1>Survey Insights Dashboard</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="file">Upload your survey data (CSV):</label><br>
                <input type="file" name="file" accept=".csv" required>
                <button type="submit">Upload & Analyze</button>
        </form>
        
    </body>
</html>